.sp-wrap {	
	border: 1px solid #ccc !important;
	border-radius: 6px !important;
	background-color: #e8e8e8 !important;
	margin: 0 auto 4px !important;
}

.sp-open {
	background: url(../images/spoiler/open.gif) no-repeat scroll left center transparent !important;
	padding-left: 14px !important;
	display: block;
}

.sp-closed {
	background: url(../images/spoiler/close.gif) no-repeat scroll left center transparent !important;
	padding-left: 14px !important;
	display: block;
}

.sp-head {
	cursor: pointer;
	color: #343434;
	font-size: 11px;
	line-height: 15px !important;
	margin-left: 6px !important;
	padding: 1px 14px 3px !important;
	width: 97% !important;
	min-height: 15px;
}
	
.sp-body {
	display: none;
	border-radius: 0 0 6px 6px !important;
	background: none repeat scroll 0 0 #f4f4f4 !important;
	border-top: 1px solid #ccc !important;
	line-height: 17px;
	padding: 3px 3px 3px 7px !important;
	font-size: 12px;
	color: #343434;
}