body{
	background: #E6E6E6;

}

.container1{
	background: #fff;
	/*border: 6px solid #000;*/
	box-shadow: 0 0 10px #000;
	border-radius: 10px;
	height: 100px;
	margin: 0 auto;
	padding: 5px;
	width: 100px;
	text-align: center;
}
.capas1 {
	border: 1px solid #000;
	display: inline-block;
	height: 200px;
	vertical-align: top;
	width: 100px;
}
#form1{
	border-bottom: 1px solid #000;
	height: 10px;
}
#datos1{
    width:10px;
    height:10px;
  

}
#mapa1{
    width:580px;
    height:420px;
}
