
{% extends 'base.html' %}
{% block titulo %} INICIO {% endblock %}

{% block contenido %}
<link rel="stylesheet" type="text/css" href="CSS.css">

 <style type="text/css">

nav{
   width:300px;
   margin: 5% auto;
   background: #EEE;
}
nav li{
   list-style: none;
   position:relative; /* importante, para que el submenu tome la posición correcta*/
}
nav li a{
   color:#666;
   text-decoration:none;
   padding: 5px;
   display:block;
}
nav li a:hover{
   color:#08D;
}
nav li.parent:hover{
   border:1px #ccc solid;
   margin:-1px;
   background:#F8F8F8;
}
nav li li a{
   width:250px;/*el ancho de los links del submenu, debe ser fijo, esto servirá para crear la animación mas adelante */
   display:block;
}
/* aquí esta lo importante!! */
nav li ul {
   width: 250px;
   margin:0;
   display:none;
   background:#F8F8F8;
   border:1px #ccc solid;
   position: absolute;
   left: 100%;
   top:-1px;
}
nav li:hover ul {
   display: block;
}
 </style>

<nav>
   <ul>
    {% for dato in tipoproyecto %}
     <li>{{ dato.nombre|capfirst}}
          <ul>
             {% for item in proyecto %}
                 {% if item.tipoproyecto == dato %}
                     <li>
                     <a href="/proyecto/{{ item.id }}">{{ item.nombreproyecto }}</a>
                     </li>

                 {% endif %}
             {% endfor %}
          </ul>
     </li>
    {% empty %}
        <li> No hay proyectos registrados aun......</li>
    {% endfor %}

    </ul>
</nav>



{% endblock %}


{% block buscador %}

    <form action="/buscar/" method="post" id="fbuscar">
    {% csrf_token %}
        <input type="text" id="tbuscar" name="tbuscar">
        <input type="submit" value="Buscar">
    </form>
    <div id="dresultado">
    </div>

{% endblock %}