{% extends 'base.html' %}
{% block titulo %}exito{% endblock %}
{% block title %}
  Mensaje
{% endblock title %}
{% block regtitulo %}
  Mensaje
    
{% endblock regtitulo %}
{% block mapaarr %}
registrado con exitoa <a href="/">aceptar</a>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
{% endblock mapaarr %}

{% block listadobot %}
  
{% endblock listadobot %}


{% block mapabot %}
  
{% endblock mapabot %}
{% block mapaaba %}
  
{% endblock mapaaba %}