{% extends 'base.html' %}
{% block titulo %}eres usuario comun{% endblock %}
{% block regtitulo %}
  Administrador
{% endblock regtitulo %}

{% block contenido %}
    <l1>
         <p id="bienvenido">
        bienvenido: {{ usuario }} </p>
        <p class="opcionEncPref" ><a href="/registroencargadop">registrar encargado de Gobernacion </a></p>
        <p class="opcionEncPref"><a href="/dardebajaproyecto">dar de baja proyectos </a></p>

    </l1>

    <link rel="stylesheet" type="text/css" href="CSS.css">

 <style type="text/css">
nav{
   width:150px;
   margin-top: 5%;
   background: rgba(187,195,48,.6);
   color:black;  
   margin-left: 35px;
   box-shadow: 0px 0px 0px 30px rgba(255,255,255,0); 
   transition:box-shadow .4s;
}
nav:hover{
  background: rgba(187,195,48,1);
  font-size: 1.2em;
  box-shadow: 0px 0px 0px 0px rgba(255,255,255,.4); 
}

nav li{
   list-style: none;
   position:relative; 
   /* importante, para que el submenu tome la posición correcta*/
}
nav li a{
   color:#666;
   text-decoration:none;
   padding: 5px;
   display:block;
}
nav li a:hover{
   color:#08D;
}
nav li.parent:hover{
   border:1px #ccc solid;
   margin:-1px;
   background:#F8F8F8;
}
nav li li a{
   width:250px;/*el ancho de los links del submenu, debe ser fijo, esto servirá para crear la animación mas adelante */
   display:block;
}
/* aquí esta lo importante!! */
nav li ul {
   width: 350px;
   margin:0;
   display:none;
   background:#000;
   border:1px #ccc solid;
   position: absolute;
   left: 100%;
   top:-1px;
}
nav li:hover ul {
   display: block;
}
 </style>

<p class="opcionEncPref">modificar proyecto seleccione:</p>
<nav>
   <ul>
    {% for dato in tipoproyecto %}
     <li>{{ dato.nombre|capfirst}}
          <ul>
             {% for item in proyecto %}
                 {% if item.tipoproyecto == dato %}
                     <li>
                     <a href="/editarpro/{{ item.id }}">{{ item.nombreproyecto }}</a>
                     </li>

                 {% endif %}
             {% endfor %}
          </ul>
     </li>
    {% empty %}
        <li> No hay proyectos registrados aun......</li>
    {% endfor %}

    </ul>
</nav>







{% endblock %}
