{% extends 'base.html' %}
{% block titulo %}registre informe  {% endblock %}
{% block regtitulo %}
    Registro de Informe Periodico
{% endblock regtitulo %}

{% block contenido %}
    <div>
        {{ dato  }}
         <br>
    su proyecto es: {{ suproyecto.nombreproyecto }}
    </div>
    <div>
        <!--para imagenes es necesario enctype OJO-->
        <form method="POST" enctype='multipart/form-data' action=''>
            {% csrf_token %}
            {{ formulario.as_p }}
        <input type="submit" value="informar Proyecto">
        </form>
    </div>
{% endblock %}